@media screen and (max-width: 575px){
    .side-bar{
        width: 100px;
    }
    .playlist-list,
    .nav-bar span,
    .profile span,
    .download-app span{
        display: none;
    }
    .logo img{
        display:none;
    }
    .logo{
        background-image: url(../img/logo-small.svg);
        width: 40px;
        height: 40px;
        background-repeat: no-repeat;
        margin-top: 20px;
    }
    .download{
        margin-bottom: 10px;
        margin-top: -20px;
    }
    .profile-pic{
        margin-left: 10px;
    }
    header .upgrade{
        display: none;
    }
    header{
        width: 100%;
    }
    .main{
        width: 100%;
    }
    .player{
        width: 100%;
    }
    .title{
        order: 1;
    }
}
